* {
    margin: 0;
}
.container {
    max-width: 1600px;
    margin: 30px auto;
}
#form1 {
    float: left;
    margin: 10px 0 15px;
}
#form1 > input {
    outline: 1px solid #59A8D5;
    border: 0;
}
#form1 > select {
    outline: 1px solid #59A8D5;
    border: 0;
}
#register {
    padding: 3px 35px;
}
#myTable {
    border: 0 solid;
    width: 100%;
}
#myTable > thead > tr > th {
    font-size: 14px;
    color: white;
    font-weight: lighter;
    background-color: #59A8D5;
    padding: 0;
    height: 40px;
}
#tBody {
    background-color: aquamarine;
    font-size: 14px;
    text-align: center;
    width: 40px;
    height: 25px;
}
.formBtn {
    background-color: #59A8D5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}
#surf {
    float: right;
    margin: 10px 0 15px;
}
#search {
    padding: 3px 35px;
}
#find {
    outline: 1px solid #59A8D5;
    border: 0;
}
#initBtn {
    float: right;
    margin-left: 10px;
    padding: 1px 29px 1px 28px;
    height: 24px;
}
.reBtn {
    background-color: #59A8D5;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 3px 9px;
    border-radius: 5px;
}
#cancel {
    margin-left: 3px;
}
.delete {
    /*삭제(js)*/
    padding: 0;
    border: 0;
    background-color: aquamarine;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
.revise {
    /*수정(js)*/
    padding: 0;
    border: 0;
    background-color: aquamarine;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
.none {
    display: none;
}
